@model CreateBlogViewModel
@using BlogModeling.ViewModels;
@{
    ViewData["Title"] = "Create Blog";
}

<div class=" container">
    <form method="post" asp-action= "Create" enctype="multipart/form-data"
class="needs-validation">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary ps-3">
                    Create Category
                </h2>
                <hr />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Content" class="form-label">Content</label>
                <textarea class="form-control" asp-for="Content" rows="3"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Category" class="form-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PublicationDate" class="form-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-page="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>

</div>